<section id="header" class="jumbotron text-center container mt-4 py-4">
    <h1 class="mb-4">{{author.[0].username}}'s Reviews</h1>
    <a href="" class="btn btn-secondary">Change Password</a>
    <a href="" class="btn btn-danger">Delete Profile</a>
</section>

<section id="reviews">
    
    {{#each rows}}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 mb-4">
                <div class="card">
                    <img class="card-img-top" src="imgs/pattern1.jpeg" alt="">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-dark" href="course.html">{{this.courseTitle}}</a> - {{this.reviewTitle}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">Course Majors - {{this.majorTitle}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">College - {{this.collegeName}}</h6>
                            <div class="row justify-content-between mx-0">
                                <h6 class="card-subtitle mb-2 text-muted">Difficulty - {{this.difficultyRating}}/10</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Workload - {{this.workloadRating}}/10</h6>
                                <h6 class="card-subtitle mb-2 text-muted">Interest - {{this.interestRating}}/10</h6>
                            </div>
                            <p class="card-text">{{comments}}</p>
                            <a href="" class="btn btn-outline-success btn-sm">Edit</a>
                            <a href="" class="btn btn-outline-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</section>